# Node modules
node_modules

# Archivos de entorno
.env

# Archivos de log
*.log

# Carpeta de compilación si usas TypeScript
dist/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
